=begin
#Elastic Email REST API

#This API is based on the REST API architecture, allowing the user to easily manage their data with this resource-based approach.    Every API call is established on which specific request type (GET, POST, PUT, DELETE) will be used.    The API has a limit of 20 concurrent connections and a hard timeout of 600 seconds per request.    To start using this API, you will need your Access Token (available <a target='_blank' href='https://app.elasticemail.com/marketing/settings/new/manage-api'>here</a>). Remember to keep it safe. Required access levels are listed in the given request’s description.    Downloadable library clients can be found in our Github repository <a target='_blank' href='https://github.com/ElasticEmail?tab=repositories&q=%22rest+api%22+in%3Areadme'>here</a>

The version of the OpenAPI document: 4.0.0
Contact: support@elasticemail.com
Generated by: https://openapi-generator.tech
Generator version: 7.11.0

=end

require 'cgi'

module ElasticEmail
  class WebhookApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete Webhook
    # Delete the specified notifications webhook. Required Access Level: ModifyWebNotifications
    # @param publicid [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def webhook_by_publicid_delete(publicid, opts = {})
      webhook_by_publicid_delete_with_http_info(publicid, opts)
      nil
    end

    # Delete Webhook
    # Delete the specified notifications webhook. Required Access Level: ModifyWebNotifications
    # @param publicid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def webhook_by_publicid_delete_with_http_info(publicid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookApi.webhook_by_publicid_delete ...'
      end
      # verify the required parameter 'publicid' is set
      if @api_client.config.client_side_validation && publicid.nil?
        fail ArgumentError, "Missing the required parameter 'publicid' when calling WebhookApi.webhook_by_publicid_delete"
      end
      # resource path
      local_var_path = '/webhook/{publicid}'.sub('{' + 'publicid' + '}', CGI.escape(publicid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey']

      new_options = opts.merge(
        :operation => :"WebhookApi.webhook_by_publicid_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookApi#webhook_by_publicid_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Load Webhook
    # Load notifications webhook details. Required Access Level: ViewWebNotifications
    # @param publicid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Webhook]
    def webhook_by_publicid_get(publicid, opts = {})
      data, _status_code, _headers = webhook_by_publicid_get_with_http_info(publicid, opts)
      data
    end

    # Load Webhook
    # Load notifications webhook details. Required Access Level: ViewWebNotifications
    # @param publicid [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Webhook, Integer, Hash)>] Webhook data, response status code and response headers
    def webhook_by_publicid_get_with_http_info(publicid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookApi.webhook_by_publicid_get ...'
      end
      # verify the required parameter 'publicid' is set
      if @api_client.config.client_side_validation && publicid.nil?
        fail ArgumentError, "Missing the required parameter 'publicid' when calling WebhookApi.webhook_by_publicid_get"
      end
      # resource path
      local_var_path = '/webhook/{publicid}'.sub('{' + 'publicid' + '}', CGI.escape(publicid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Webhook'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey']

      new_options = opts.merge(
        :operation => :"WebhookApi.webhook_by_publicid_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookApi#webhook_by_publicid_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Webhook
    # Update notification webhook. Required Access Level: ModifyWebNotifications
    # @param publicid [String] 
    # @param webhook_update_payload [WebhookUpdatePayload] 
    # @param [Hash] opts the optional parameters
    # @return [Webhook]
    def webhook_by_publicid_put(publicid, webhook_update_payload, opts = {})
      data, _status_code, _headers = webhook_by_publicid_put_with_http_info(publicid, webhook_update_payload, opts)
      data
    end

    # Update Webhook
    # Update notification webhook. Required Access Level: ModifyWebNotifications
    # @param publicid [String] 
    # @param webhook_update_payload [WebhookUpdatePayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Webhook, Integer, Hash)>] Webhook data, response status code and response headers
    def webhook_by_publicid_put_with_http_info(publicid, webhook_update_payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookApi.webhook_by_publicid_put ...'
      end
      # verify the required parameter 'publicid' is set
      if @api_client.config.client_side_validation && publicid.nil?
        fail ArgumentError, "Missing the required parameter 'publicid' when calling WebhookApi.webhook_by_publicid_put"
      end
      # verify the required parameter 'webhook_update_payload' is set
      if @api_client.config.client_side_validation && webhook_update_payload.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_update_payload' when calling WebhookApi.webhook_by_publicid_put"
      end
      # resource path
      local_var_path = '/webhook/{publicid}'.sub('{' + 'publicid' + '}', CGI.escape(publicid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(webhook_update_payload)

      # return_type
      return_type = opts[:debug_return_type] || 'Webhook'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey']

      new_options = opts.merge(
        :operation => :"WebhookApi.webhook_by_publicid_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookApi#webhook_by_publicid_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Load Webhooks
    # Returns a list of notification webhooks. Required Access Level: ViewWebNotifications
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of returned items.
    # @option opts [Integer] :offset How many items should be returned ahead.
    # @return [Array<Webhook>]
    def webhook_get(opts = {})
      data, _status_code, _headers = webhook_get_with_http_info(opts)
      data
    end

    # Load Webhooks
    # Returns a list of notification webhooks. Required Access Level: ViewWebNotifications
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of returned items.
    # @option opts [Integer] :offset How many items should be returned ahead.
    # @return [Array<(Array<Webhook>, Integer, Hash)>] Array<Webhook> data, response status code and response headers
    def webhook_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookApi.webhook_get ...'
      end
      # resource path
      local_var_path = '/webhook'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Webhook>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey']

      new_options = opts.merge(
        :operation => :"WebhookApi.webhook_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookApi#webhook_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add Webhook
    # Add a notification webhook. Required Access Level: ModifyWebNotifications
    # @param webhook_create_payload [WebhookCreatePayload] 
    # @param [Hash] opts the optional parameters
    # @return [Webhook]
    def webhook_post(webhook_create_payload, opts = {})
      data, _status_code, _headers = webhook_post_with_http_info(webhook_create_payload, opts)
      data
    end

    # Add Webhook
    # Add a notification webhook. Required Access Level: ModifyWebNotifications
    # @param webhook_create_payload [WebhookCreatePayload] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Webhook, Integer, Hash)>] Webhook data, response status code and response headers
    def webhook_post_with_http_info(webhook_create_payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookApi.webhook_post ...'
      end
      # verify the required parameter 'webhook_create_payload' is set
      if @api_client.config.client_side_validation && webhook_create_payload.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_create_payload' when calling WebhookApi.webhook_post"
      end
      # resource path
      local_var_path = '/webhook'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(webhook_create_payload)

      # return_type
      return_type = opts[:debug_return_type] || 'Webhook'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apikey']

      new_options = opts.merge(
        :operation => :"WebhookApi.webhook_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookApi#webhook_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
