# ElasticEmail::VerificationStatus

## Properties

| Name | Type | Description | Notes |
| ---- | ---- | ----------- | ----- |

## Example

```ruby
require 'ElasticEmail'

instance = ElasticEmail::VerificationStatus.new()
```

